<?xml version="1.0" encoding="UTF-8"?>
<!-- note
-->
<data>
    <urls>
        <url name="absPath" type="dir">/home/mt_licit/project/symupol</url>
        <url name="folder_scenarios" type="dir">scenarios</url>
        <url name="scenario" type="dir">test_grid_01</url>
        <url name="tmp" type="dir">.tmp</url>
        <url name="resources" type="dir">resources</url>
        <url name="config" type="file">config</url>
        <url name="setup" type="file">5x5grid</url>
        <url name="folder_outputs" type="dir">outputs</url>
        <url name="dir_gen" type="dir">gen</url>
    </urls>

    <simulation>
        <parameter name="id"></parameter>
        <parameter name="pasdetemps"></parameter>
        <parameter name="debut"></parameter>
        <parameter name="fin"></parameter>
        <parameter name="loipoursuite"></parameter>
        <parameter name="comportementflux"></parameter>
        <parameter name="date"></parameter>
        <parameter name="titre"></parameter>
        <parameter name="proc_deceleration"></parameter>
        <parameter name="seed"></parameter>
    </simulation>

    <trafic>
        <parameter name="id"></parameter>
        <parameter name="accbornee"></parameter>
        <parameter name="coeffrelax"></parameter>
        <parameter name="chgtvoie_ghost"></parameter>
    </trafic>

    <scenario>
        <parameter name="id="></parameter>
        <parameter name="simulation_id"></parameter>
        <parameter name="trafic_id"></parameter>
        <parameter name="reseau_id"></parameter>
        <parameter name="dirout"></parameter>                                                                           <!-- do not edit this!-->
        <parameter name="prefout"></parameter>
    </scenario>

    <analysis>
        <parameter name="interval" type="integer">900</parameter>                                                       <!-- interval in seconds (tip: 360, 900 and 3600) -->
        <parameter name="pollutants" type="list"> NOx_TP, CO_TP</parameter>                                             <!-- "," for split elements in a list -->
        <parameter name="numberOfSplit" type="integer">4 </parameter>                                                   <!-- number of segments to split the link -->
    </analysis>
</data>